[Desktop Entry]
Version=1.0
Type=Application
Name=terminal
Comment=terminal
Exec=python /usr/local/bin/term5
Icon=terminal
Path=
Terminal=false
StartupNotify=false
