[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vbox/Desktop/system-tool.desktop]
row=5
col=0

[/home/vbox/Desktop/StormOS_Recorder.desktop]
row=6
col=0

[/home/vbox/Desktop/stormos-kernel-manager.desktop]
row=0
col=0

[/home/vbox/Desktop/StomOS Package Manager.desktop]
row=2
col=0

[/home/vbox/Desktop/StormOS_Browser.desktop]
row=2
col=1

[/home/vbox/Desktop/StormOS_Python_Manager.desktop]
row=4
col=0

[/home/vbox/Desktop/StormOS_mirrors.desktop]
row=3
col=0

[/home/vbox/Desktop/StormOS_Download_Manager.desktop]
row=1
col=0

[/home/vbox/Desktop/StormOS-ISO]
row=1
col=1

[/home/vbox/Desktop/stormos-build-files]
row=0
col=1

