[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/Jade Empire Special Edition.desktop]
row=1
col=1

[/home/ben/Desktop/1.png]
row=8
col=0

[/home/ben/Desktop/Mass Effect Legendary Edition.desktop]
row=4
col=1

[/home/ben/Desktop/Yu-Gi-Oh! Duel Links.desktop]
row=4
col=0

[/home/ben/Desktop/Yu-Gi-Oh! Legacy of the Duelist.desktop]
row=5
col=0

[/home/ben/Desktop/net.lutris.battlenet-2.desktop]
row=2
col=0

[/home/ben/Desktop/stormos_video_recorder.desktop]
row=6
col=1

[/home/ben/Desktop/Yu-Gi-Oh!  Master Duel.desktop]
row=3
col=0

[/home/ben/Desktop/STAR WARS Knights of the Old Republic.desktop]
row=7
col=0

[/home/ben/Desktop/BioShock Remastered.desktop]
row=2
col=1

[/home/ben/Desktop/steam.desktop]
row=0
col=0

[/home/ben/Desktop/BioShock 2 Remastered.desktop]
row=3
col=1

[/home/ben/Desktop/stormos_mpv_player.desktop]
row=5
col=1

[/home/ben/Desktop/STAR WARS The Old Republic.desktop]
row=1
col=0

[/home/ben/Desktop/STAR WARS Knights of the Old Republic II The Sith Lords.desktop]
row=6
col=0

[/home/ben/Desktop/SWGEmu]
row=0
col=1

