[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bennji/Desktop/pheonix jedi steps beta.txt]
row=4
col=1

[/home/bennji/Desktop/NootedBlue-master.zip]
row=7
col=1

[/home/bennji/Desktop/stormos-vida-xfce-desktop-configs]
row=8
col=2

[/home/bennji/Desktop/LFS_Hybrid_Installer.desktop]
row=8
col=1

[/home/bennji/Desktop/net.lutris.battlenet-2.desktop]
row=3
col=0

[/home/bennji/Desktop/StomOS Package Manager.desktop]
row=0
col=0

[/home/bennji/Desktop/SWGKhaos]
row=1
col=3

[/home/bennji/Desktop/StormOS_Download_Manager.desktop]
row=5
col=0

[/home/bennji/Desktop/SWG-Origins-NGE]
row=4
col=2

[/home/bennji/Desktop/StormOS_Python_Manager.desktop]
row=8
col=0

[/home/bennji/Desktop/StormOS-ISO]
row=6
col=2

[/home/bennji/Desktop/StormOS_GitHub_Manager.desktop]
row=0
col=2

[/home/bennji/Desktop/StormOS_PKG_Converter.desktop]
row=1
col=2

[/home/bennji/Desktop/chrome-mdpkiolbdkhdjpekfbkbmhigcaggjagi-Default.desktop]
row=2
col=0

[/home/bennji/Desktop/Be Cool (2005)]
row=3
col=2

[/home/bennji/Desktop/StormOS_mirrors.desktop]
row=6
col=0

[/home/bennji/Desktop/stormos-build-files]
row=0
col=3

[/home/bennji/Desktop/SmashWG]
row=3
col=1

[/home/bennji/Desktop/SWGEmu]
row=1
col=1

[/home/bennji/Desktop/stormos]
row=1
col=0

[/home/bennji/Desktop/system-tool.desktop]
row=4
col=0

[/home/bennji/Desktop/stormos-kernel-manager.desktop]
row=7
col=0

[/home/bennji/Desktop/catalyst_stormgenz]
row=2
col=2

[/home/bennji/Desktop/stormos-calamares]
row=7
col=2

[/home/bennji/Desktop/StormOS_Recorder.desktop]
row=0
col=1

[/home/bennji/Desktop/pdf.pdf]
row=6
col=1

[/home/bennji/Desktop/SWG-Origins-NGE.zip]
row=3
col=3

[/home/bennji/Desktop/SWG-Origins]
row=5
col=2

[/home/bennji/Desktop/StarWarsGalaxies]
row=2
col=1

[/home/bennji/Desktop/Gentoo]
row=4
col=3

[/home/bennji/Desktop/SWG Phoenix]
row=2
col=3

[/home/bennji/Desktop/pdf2.pdf]
row=5
col=1

