[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/test/Desktop/StormOS_Python_Manager.desktop]
row=6
col=1

[/home/test/Desktop/StormOS_Recorder.desktop]
row=5
col=0

[/home/test/Desktop/StormOS_Builder]
row=0
col=0

[/home/test/Desktop/system-tool.desktop]
row=4
col=1

[/home/test/Desktop/StormOS_mirrors.desktop]
row=7
col=0

[/home/test/Desktop/stormos-kernel-manager.desktop]
row=6
col=0

[/home/test/Desktop/stormos-build-files]
row=2
col=0

[/home/test/Desktop/stormos-vida-xfce-desktop-configs]
row=1
col=0

[/home/test/Desktop/stormos-vida-themes]
row=2
col=1

[/home/test/Desktop/walls]
row=0
col=1

[/home/test/Desktop/stormos-vida-icons]
row=1
col=1

[/home/test/Desktop/stormos-vida-wallpapers]
row=3
col=1

[/home/test/Desktop/StormOS-ISO]
row=7
col=1

[/home/test/Desktop/stuff]
row=4
col=0

[/home/test/Desktop/StormOS_Download_Manager.desktop]
row=5
col=1

[/home/test/Desktop/stormos-vida-config]
row=3
col=0

