<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xfdesktop-menu []>
<xfdesktop-menu>
<title name="Desktop Menu"/>
<separator/>
<menu name="Development">
    <app name="CMake" cmd="cmake-gui"/>
    <app name="CMake curses GUI (ccmake)" cmd="ccmake" term="true"/>
    <app name="Geany" cmd="geany"/>
    <app name="Icon Browser" cmd="yad-icon-browser"/>
    <app name="IDLE (Python IDE)" cmd="idle"/>
    <app name="Python" cmd="python" term="true"/>
    <app name="Tclsh8.6" cmd="tclsh8.6" term="true"/>
</menu>
<menu name="Editors">
    <app name="AA Fire" cmd="aafire -driver slang" term="true"/>
    <app name="Mousepad" cmd="mousepad"/>
    <app name="Nano" cmd="nano" term="true"/>
    <app name="Vim" cmd="vim" term="true"/>
</menu>
<menu name="Games">
    <menu name="Adventure">
        <app name="Sclient" cmd="sclient"/>
    </menu>
    <menu name="Arcade">
        <app name="PacMan" cmd="pacman"/>
    </menu>
</menu>
<menu name="Graphics">
    <app name="Document Scanner" cmd="simple-scan"/>
    <app name="scanimage" cmd="scanimage" term="true"/>
</menu>
<menu name="Multimedia">
    <app name="ALSA mixer" cmd="alsamixer" term="true"/>
    <app name="Guvcview" cmd="guvcview"/>
    <app name="mpv Media Player" cmd="mpv --player-operation-mode=pseudo-gui"/>
    <app name="OBS Studio" cmd="obs"/>
    <app name="Qt V4L2 test Utility" cmd="qv4l2"/>
    <app name="Qt V4L2 video capture utility" cmd="qvidcap"/>
    <app name="VLC media player" cmd="vlc"/>
    <app name="VLC media player" cmd="qvlc"/>
    <app name="Volume Control" cmd="pavucontrol"/>
</menu>
<menu name="Network">
    <app name="Avahi SSH Server Browser" cmd="bssh"/>
    <app name="Avahi VNC Server Browser" cmd="bvnc"/>
    <app name="Brave" cmd="brave"/>
    <app name="Chromium" cmd="chromium"/>
    <app name="Discord" cmd="discord"/>
    <app name="FTP" cmd="ftp" term="true"/>
    <app name="LocalSend" cmd="localsend"/>
    <app name="Lynx" cmd="lynx" term="true"/>
    <app name="Mail Reader" cmd="exo-open --launch MailReader"/>
    <app name="Talk" cmd="talk" term="true"/>
    <app name="Telnet" cmd="telnet" term="true"/>
    <app name="TkVNC" cmd="xterm -e tkvnc"/>
    <app name="Web Browser" cmd="exo-open --launch WebBrowser"/>
</menu>
<menu name="Office">
    <app name="Osmo" cmd="osmo"/>
</menu>
<menu name="Shells">
    <app name="GIT" cmd="git" term="true"/>
    <app name="MC" cmd="mc" term="true"/>
    <app name="Oracle VirtualBox" cmd="VirtualBox"/>
    <app name="Thunar File Manager" cmd="thunar"/>
    <app name="UXTerm" cmd="uxterm"/>
    <app name="VirtualBox" cmd="virtualbox"/>
    <app name="Xfce Terminal" cmd="xfce4-terminal"/>
    <app name="Xterm" cmd="xterm"/>
</menu>
<menu name="System">
    <menu name="Settings">
        <menu name="GNOME">
            <app name="Add/Remove Software" cmd="pamac-manager"/>
            <app name="Advanced Network Configuration" cmd="nm-connection-editor"/>
            <app name="Bluetooth Manager" cmd="blueman-manager"/>
            <app name="Firewall Configuration" cmd="gufw"/>
            <app name="StormOS Kernel Manager" cmd="stormos-kernel-manager"/>
            <app name="StormOS System Tool" cmd="sysconfig"/>
        </menu>
        <menu name="Xfce">
            <app name="Bluetooth Adapters" cmd="blueman-adapters"/>
            <app name="Settings Manager" cmd="xfce4-settings-manager"/>
        </menu>
        <app name="Accessibility" cmd="xfce4-accessibility-settings"/>
        <app name="Appearance" cmd="xfce4-appearance-settings"/>
        <app name="Color Profiles" cmd="xfce4-color-settings"/>
        <app name="Default Applications" cmd="xfce4-mime-settings"/>
        <app name="Desktop" cmd="xfdesktop-settings"/>
        <app name="Display" cmd="xfce4-display-settings"/>
        <app name="KDE System Settings" cmd="systemsettings"/>
        <app name="Keyboard" cmd="xfce4-keyboard-settings"/>
        <app name="Kvantum Manager" cmd="kvantummanager"/>
        <app name="Manage Printing" cmd="xdg-open http://localhost:631/"/>
        <app name="Mouse and Touchpad" cmd="xfce4-mouse-settings"/>
        <app name="Notifications" cmd="xfce4-notifyd-config"/>
        <app name="NVIDIA X Server Settings" cmd="nvidia-settings"/>
        <app name="Panel" cmd="xfce4-panel --preferences"/>
        <app name="Power Manager" cmd="xfce4-power-manager-settings"/>
        <app name="Print Settings" cmd="system-config-printer"/>
        <app name="Qt5 Settings" cmd="qt5ct"/>
        <app name="Removable Drives and Media" cmd="thunar-volman-settings"/>
        <app name="Session and Startup" cmd="xfce4-session-settings"/>
        <app name="Settings Editor" cmd="xfce4-settings-editor"/>
        <app name="Text Editor Settings" cmd="mousepad --preferences"/>
        <app name="Thunar Preferences" cmd="thunar-settings"/>
        <app name="Window Manager" cmd="xfwm4-settings"/>
        <app name="Window Manager Tweaks" cmd="xfwm4-tweaks-settings"/>
        <app name="Workspaces" cmd="xfwm4-workspace-settings"/>
        <app name="Xfce Terminal Settings" cmd="xfce4-terminal --preferences"/>
        <app name="YAD settings" cmd="yad-settings"/>
    </menu>
    <app name="Avahi Zeroconf Browser" cmd="avahi-discover"/>
    <app name="BleachBit" cmd="bleachbit"/>
    <app name="dconf Editor" cmd="dconf-editor"/>
    <app name="fish" cmd="fish" term="true"/>
    <app name="GDM Setup" cmd="gksu gdmsetup"/>
    <app name="GParted" cmd="gparted"/>
    <app name="HPLIP File printing" cmd="hp-print"/>
    <app name="Htop" cmd="htop" term="true"/>
    <app name="KeePassXC" cmd="keepassxc"/>
    <app name="Log Out" cmd="xfce4-session-logout"/>
    <app name="pstree" cmd="pstree" term="true"/>
    <app name="Pstree" cmd="pstree.x11" term="true"/>
    <app name="pstree" cmd="xterm -e /usr/bin/pstree.x11"/>
    <app name="Software Token" cmd="stoken-gui"/>
    <app name="Software Token (small)" cmd="stoken-gui --small"/>
    <app name="Timeshift" cmd="timeshift-launcher"/>
    <app name="Top" cmd="top" term="true"/>
    <app name="USB Stick Formatter" cmd="mintstick -m format"/>
</menu>
<menu name="Utilities">
    <app name="About Xfce" cmd="xfce4-about"/>
    <app name="Application Finder" cmd="xfce4-appfinder"/>
    <app name="Character Map" cmd="gucharmap"/>
    <app name="Disks" cmd="gnome-disks"/>
    <app name="Engrampa Archive Manager" cmd="engrampa"/>
    <app name="File Manager" cmd="exo-open --launch FileManager"/>
    <app name="HP Device Manager" cmd="hp-toolbox"/>
    <app name="Info" cmd="info" term="true"/>
    <app name="Run Program..." cmd="xfce4-appfinder --collapsed"/>
    <app name="Terminal Emulator" cmd="exo-open --launch TerminalEmulator"/>
    <app name="USB Image Writer" cmd="mintstick -m iso"/>
    <app name="Xev" cmd="xev" term="true"/>
    <app name="Xkill" cmd="xkill"/>
    <app name="Xrefresh" cmd="xrefresh"/>
    <app name="Xsetroot" cmd="xsetroot"/>
</menu>
<separator/>
<menu name="Xfce">
    <app name="About" cmd="xfce4-about"/>
    <separator/>
    <builtin name="Quit" cmd="quit"/>
</menu>
</xfdesktop-menu>
