
# Nanorc file
#
# by Rick Copple

# You can set any of these commands by uncommenting the actve
#  line. Likewise, you can disable a line by adding a "#" hashmark at
#  the beginning of a line.
#
include /usr/share/nano/*.nanorc

# this allows lines that run off the screen to wrap around
#
set softwrap

# This allows linebreaks by softwrap to only occur at blank spaces
#
set atblanks

# This setting allows mouse control to navigate
#
set mouse

# This allows linenumbers to appear on the lefthand side
#
set linenumbers

# This sets a color for  linenumbers
#  I tend to use green for my user, and red for root
#  You can set a different color in your root directory by
#  copying this user to the root directory  (sudo cp ~/.nanorc /root)
#  and setting a different color. That aids kwowing when
#  you are using nano as root or as a user.
#
set numbercolor green

# This setting sets the foreground,background colors (without any spaces)
#
set selectedcolor green,white

# This one allows a new buffer for any newly loaded files
#  instead of tackign them onto the end of the current one
#  allows for copy paste betwwen files.
#
set multibuffer

# This sets it to go to the begining of a line when you press "home"
#  to go to the absoute left side of the screen, you press the "home" key twice.
#
set smarthome

# This will enable the line to automatically indent to the last line's indentation
#
set autoindent

# This one will erase the menu help text at the bottom of the screen.
# Note: This is for people who have learned the commanads and no longer need these.
#
# set nohelp

# This setting will cause any messages at the bottom to blank out upon one keystroke
#  instead of the default, which I believe is six keystrokes
#
set quickblank
