[Desktop Entry]
Type=Application
Version=1.0
Name=stormos-calamares
GenericName=Live Installer (Calamares)
Comment=Install the operating system to disk
Exec=sudo calamares
Icon=storm os.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;Desktop
