[Desktop Entry]
Type=Application
Version=1.0
Name=TornadoOS-installer
GenericName=Live Installer (Calamares)
Comment=Install the operating system to disk
Exec=sudo /usr/local/bin/installer11
Icon=storm os
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;Desktop
Path=
